/*
 * Copyright 2026 dorkbox, llc
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package dorkbox.gradlePublish.portal.api

import dorkbox.gradlePublish.portal.impl.infrastructure.wrap
import dorkbox.gradlePublish.portal.impl.models.ApiV1PublisherDeploymentsFilesPost200Response
import dorkbox.gradlePublish.portal.impl.models.ApiV1PublisherDeploymentsFilesPostRequest
import dorkbox.gradlePublish.portal.impl.models.ApiV1PublisherPublishedGet200Response
import dorkbox.gradlePublish.portal.impl.infrastructure.ApiClient.Companion.JSON_DEFAULT
import dorkbox.gradlePublish.portal.impl.infrastructure.HttpResponse
import dorkbox.gradlePublish.portal.impl.infrastructure.RequestConfig
import dorkbox.gradlePublish.portal.impl.infrastructure.RequestMethod

import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.client.request.request
import io.ktor.client.utils.EmptyContent
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class InformationApi : dorkbox.gradlePublish.portal.impl.infrastructure.ApiClient {

    constructor(
        baseUrl: String = BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * Browse the content of the deployment. 
     * @param apiV1PublisherDeploymentsFilesPostRequest Request body containing the necessary parameters.
     * @return ApiV1PublisherDeploymentsFilesPost200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun apiV1PublisherDeploymentsFilesPost(apiV1PublisherDeploymentsFilesPostRequest: ApiV1PublisherDeploymentsFilesPostRequest): HttpResponse<ApiV1PublisherDeploymentsFilesPost200Response> {

        val localVariableAuthNames = listOf("BasicAuth", "BearerAuth")

        val localVariableBody = apiV1PublisherDeploymentsFilesPostRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/api/v1/publisher/deployments/files",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Check whether a component is published.
     * @param namespace namespace of component
     * @param name name of component
     * @param version version of component
     * @return ApiV1PublisherPublishedGet200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun apiV1PublisherPublishedGet(namespace: String, name: String, version: String): HttpResponse<ApiV1PublisherPublishedGet200Response> {

        val localVariableAuthNames = listOf("BasicAuth", "BearerAuth")

        val localVariableBody = EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        namespace.apply { localVariableQuery["namespace"] = listOf(namespace) }
        name.apply { localVariableQuery["name"] = listOf(name) }
        version.apply { localVariableQuery["version"] = listOf(version) }

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.GET,
            "/api/v1/publisher/published",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }
}
