/*
 * Copyright 2026 dorkbox, llc
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package dorkbox.gradlePublish.portal.api


import dorkbox.gradlePublish.portal.impl.infrastructure.ApiClient
import dorkbox.gradlePublish.portal.impl.infrastructure.wrap
import dorkbox.gradlePublish.portal.impl.infrastructure.ApiClient.Companion.JSON_DEFAULT
import dorkbox.gradlePublish.portal.impl.infrastructure.HttpResponse
import dorkbox.gradlePublish.portal.impl.infrastructure.OctetByteArray
import dorkbox.gradlePublish.portal.impl.infrastructure.RequestConfig
import dorkbox.gradlePublish.portal.impl.infrastructure.RequestMethod
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.client.request.request
import io.ktor.client.utils.EmptyContent
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class IntegrationApi : ApiClient {

    constructor(
        baseUrl: String = BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * Integrate a deployment bundle with a build for manual testing. For more information, see the the following [documentation](https://central.sonatype.org/publish/publish-portal-api/#manually-testing-a-deployment-bundle). 
     * @param deploymentId The deployment identifier, which was obtained by a call to &#x60;/api/v1/publisher/upload&#x60;.
     * @param relativePath The full path to a specific file from a deployment bundle.
     * @return OctetByteArray
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun apiV1PublisherDeploymentDeploymentIdDownloadRelativePathGet(deploymentId: String, relativePath: String): HttpResponse<OctetByteArray> {

        val localVariableAuthNames = listOf<String>("BasicAuth", "BearerAuth")

        val localVariableBody = EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.GET,
            "/api/v1/publisher/deployment/{deploymentId}/download/{relativePath}".replace("{" + "deploymentId" + "}", "$deploymentId")
                .replace("{" + "relativePath" + "}", "$relativePath"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Integrate deployment bundles with a build for manual testing. For more information, see the the following [documentation](https://central.sonatype.org/publish/publish-portal-api/#manually-testing-a-deployment-bundle). 
     * @param relativePath The full path to a specific file from a deployment bundle.
     * @return OctetByteArray
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun apiV1PublisherDeploymentsDownloadRelativePathGet(relativePath: String): HttpResponse<OctetByteArray> {

        val localVariableAuthNames = listOf<String>("BasicAuth", "BearerAuth")

        val localVariableBody = EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.GET,
            "/api/v1/publisher/deployments/download/{relativePath}".replace("{" + "relativePath" + "}", "$relativePath"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
