/*
 * Copyright 2026 dorkbox, llc
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

package dorkbox.gradlePublish.portal.api


import dorkbox.gradlePublish.portal.impl.infrastructure.HttpResponse
import dorkbox.gradlePublish.portal.impl.infrastructure.RequestConfig
import dorkbox.gradlePublish.portal.impl.infrastructure.RequestMethod
import dorkbox.gradlePublish.portal.impl.infrastructure.wrap
import io.ktor.client.*
import io.ktor.client.engine.*
import io.ktor.client.request.forms.*
import io.ktor.client.utils.*
import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable
import kotlinx.serialization.json.Json

open class PublishingApi : dorkbox.gradlePublish.portal.impl.infrastructure.ApiClient {

    constructor(
        baseUrl: String = BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Drop a deployment. Deployments can be dropped if they are in a &#x60;FAILED&#x60; or &#x60;VALIDATED&#x60; state.
     *
     * @param deploymentId The deployment identifier, which was obtained by a call to &#x60;/api/v1/publisher/upload&#x60;.
     * @return void
     */
    open suspend fun apiV1PublisherDeploymentDeploymentIdDelete(deploymentId: String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf("BasicAuth", "BearerAuth")
        val localVariableBody = EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.DELETE,
            "/api/v1/publisher/deployment/{deploymentId}".replace("{" + "deploymentId" + "}", deploymentId),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Publish a deployment. Deployments can be published if they are in a &#x60;VALIDATED&#x60; state.
     *
     * @param deploymentId The deployment identifier, which was obtained by a call to &#x60;/api/v1/publisher/upload&#x60;.
     * @return void
     */
    open suspend fun apiV1PublisherDeploymentDeploymentIdPost(deploymentId: String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf("BasicAuth", "BearerAuth")
        val localVariableBody = EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/api/v1/publisher/deployment/{deploymentId}".replace("{" + "deploymentId" + "}", deploymentId),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve status of a deployment. Polling this endpoint can be useful for determining when a deployment changes state.
     *
     * @param id The deployment identifier, which was obtained by a call to &#x60;/api/v1/publisher/upload&#x60;.
     * @return kotlin.String
     */
    open suspend fun apiV1PublisherStatusPost(id: String): HttpResponse<String> {

        val localVariableAuthNames = listOf("BasicAuth", "BearerAuth")

        val localVariableBody = EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        id.apply { localVariableQuery["id"] = listOf(id) }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/api/v1/publisher/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * enum for parameter publishingType
     */
    @Serializable
    enum class PublishingTypeApiV1PublisherUploadPost(val value: String) {
        
        @SerialName(value = "USER_MANAGED")
        USER_MANAGED("USER_MANAGED"),
        
        @SerialName(value = "AUTOMATIC")
        AUTOMATIC("AUTOMATIC")
        
    }

    /**
     * 
     * Upload a deployment bundle intended to be published to Maven Central.
     *
     * @param name Deployment/bundle name, optional (will use attached file name if not present). (optional)
     * @param publishingType Whether to have the deployment stop in the &#x60;VALIDATED&#x60; state and require a user to log in and manually approve its progression, or to automatically go directly to &#x60;PUBLISHING&#x60; when validation has passed. (optional)
     * @param bundle  (optional)
     * @return kotlin.String
     */
    open suspend fun apiV1PublisherUploadPost(name: String? = null, publishingType: PublishingTypeApiV1PublisherUploadPost? = null, bundle: FormPart<InputProvider>? = null): HttpResponse<String> {

        val localVariableAuthNames = listOf("BasicAuth", "BearerAuth")

        val localVariableBody = 
            formData {
                bundle?.apply { append(bundle) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        name?.apply { localVariableQuery["name"] = listOf(name) }
        publishingType?.apply { localVariableQuery["publishingType"] = listOf(publishingType.value) }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/api/v1/publisher/upload",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }
}
